@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

$font-stack: "League Spartan", sans-serif;
$p-dark-magenta: #502050;
$p-soft-pink: #ee68a4;
$n-d-gray-magenta: #937b92;
$n-l-gray-magenta: #f7f2f7;
$n-white: #ffffff;

* {
    margin: 0;
}

body {
    min-height: 100vh;
    padding: 7.5rem 10rem;
    font-family: $font-stack;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    display: flex;
    justify-content: space-between;

    .intro {
        max-width: 27rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h1 {
            color: $p-dark-magenta;
            font-weight: 700;
            font-size: 3.44rem;
            letter-spacing: -.1rem;
            line-height: 3rem;
        }

        p {
            color: $n-d-gray-magenta;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 1.6rem;
            letter-spacing: -.02rem;
        }
    }

    .ratings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 1rem;

        .container {
            display: flex;
            align-items: center;
            background-color: $n-l-gray-magenta;
            width: 28rem;
            height: 3.5rem;
            border-radius: .5rem;
            text-align: center;

            .stars {
                margin-left: 2rem;
                margin-right: 2rem;
                display: flex;
                gap: .5rem;
            }

            p {
                color: $p-dark-magenta;
                font-size: 1.06rem;
                font-weight: 700;
            }
        }

        .container.one {
            margin-right: 6rem;
        }

        .container.two {
            margin-right: 3rem;
        }
    }
}

.bg-desktop {
    z-index: -1;

    .top {
        width: 36.4rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    .bottom {
        width: 68rem;
        height: 42.8rem;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.reviews {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    .card {
        background-color: $p-dark-magenta;
        padding: 2.4rem 2.15rem;
        width: 20rem;
        height: 10rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.6rem;

        .container {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .container {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                margin-top: 0.2rem;
                font-size: 1.05rem;

                .client-name {
                    color: $n-white;
                    font-weight: 700;
                }

                .verified-buyer {
                    color: $p-soft-pink;
                }
            }

            img {
                border-radius: 50%;
                width: 2.5rem;
            }
        }

        .review-content {
            color: $n-l-gray-magenta;
            font-weight: 500;
            line-height: 1.4rem;
        }
    }

    .card.one {
        margin-top: -1rem;
    }

    .card.three {
        margin-top: 1rem;
    }
}

.attribution {
    margin-bottom: 3rem;
    text-align: center;

    a {
        text-decoration: none;
        color: $p-dark-magenta;
        transition: color ease-in-out 0.2s;
    }

    a:hover {
        color: $p-soft-pink;
    }
}

@media screen and (min-width: 1450px) {
    body {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}